.Node {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #abc;
	background-color: #fff;
	padding: 10px;
	cursor: pointer;
	white-space: nowrap;
}

.Leaf {
 	cursor: normal;
}

.Level {
	display : flex;
	flex-direction : row;
	justify-content: space-around;
	align-items : flex-start
}
